# .env

# Sécurité Django
SECRET_KEY=

# Configuration Email
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# CORS configuration
ALLOWED_HOSTS=
DEBUG=
CORS_ALLOWED_ORIGINS=

CSRF_TRUSTED_ORIGINS=

    
# Configuration de postgres en production
# DATABASE_URL=postgresql://postgres:GPeHDOuvHWkYLlxQeEHPTInBwBBMuFsz@tramway.proxy.rlwy.net:29365/railway

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Configuration HTTPS et Cookies sécurisés
SECURE_SSL_REDIRECT=
SESSION_COOKIE_SECURE=
CSRF_COOKIE_SECURE=
SECURE_HSTS_SECONDS= 
SECURE_HSTS_INCLUDE_SUBDOMAINS=
SECURE_HSTS_PRELOAD=

# Configuration de django-axes pour la protection contre les attaques par force brute
AXES_ENABLED=
AXES_FAILURE_LIMIT=               # nombre d’échecs avant blocage
AXES_RESET_ON_SUCCESS=         # réinitialiser après un login réussi
AXES_LOCK_OUT_AT_FAILURE=      # activer le blocage
AXES_USE_USER_AGENT=           # inclure le user-agent dans la détection

DEBUG=